/*  Assets ======================   
border: #ccc.
color logo: #999.
color home: #fff.
color: #333

===================================*/


@font-face {
    font-family: cinzel;
    src: url("../fonts/Cinzel-Medium.ttf");
}

@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins-Medium.ttf");
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header div h1 {
    color: #999;
    font-size: 1.5rem;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 15px;
}



header article {
    background-image: url("../image/photo-1486312699619-be057cfc0342.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25vh 0;


}

header article h2 {
    font-family: cinzel;
    text-align: center;
    color: #fff;
    width: 50rem;
    margin: 12vh auto;
    font-size: 7.5rem;
    line-height: 9rem;
    /* letter-spacing: 0.2rem; */
    font-weight: lighter;
}

.text h3 {
    font-family: cinzel;
    font-size: 3rem;
    text-align: center;
    margin-top: 6vh;

}

.text p {
    font-family: poppins;
    font-size: 1.8rem;
    text-align: center;
    margin: 5vh 11vw;
    /* width: 600px; */

}

.bilder {
    text-align: center;
    /* margin-bottom: 12vh auto; */
}

.bilder img {
    width: 25%;
    margin: 8vh 2vw;
}


h4 {
    text-align: center;
    font-family: cinzel;
    font-size: 3rem;
    padding-bottom: 8vh;
    margin-top: 8vh;

}

.tour nav ul {
    line-height: 4vh;
    text-decoration: none;
    list-style: none;
    text-align: left;
    font-size: 2rem;
    margin: 3vh 3.5vw 2vh 9vw;
}


.tour nav ul li:nth-of-type(1)::after {
    content: "- SOLD OUT";
    color: red;

}

.tour nav ul li:nth-of-type(2)::after {
    content: "- SOLD OUT";
    color: red;

}

.tour nav ul li:nth-of-type(3)::after {
    content: "- SOLD OUT";
    color: red;

}

.tour nav ul li:nth-of-type(4)::after {
    content: "- ONLY 4 SPOT AVAILABLE";
    color: red;

}

.tour nav ul li:nth-of-type(5)::after {
    content: "- AVAILABLE";
    color: green;

}

.tour nav ul li:nth-of-type(6)::after {
    content: "- AVAILABLE";
    color: green;

}

footer {
    border-top: 0.2rem solid black;
    text-align: center;
}

footer p {
    font-family: cinzel;
    text-align: center;
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer a:nth-of-type(1) {
    text-decoration: none;
    color: #999;
}

footer a:nth-of-type(1)::active .flogo {
    width: 5rem;
    padding-right: 0.8rem;
}

.llogo {
    width: 13.8rem;
}

.flogo {
    width: 7rem;
    padding-right: 2rem;
}